extends layout

block content
    #fin.dejaJoue.container-fluid
        .row
            .fin-left.animated.fadeInLeft
                .resume
                    h3 Vous avez obtenu
                    h1 3
                    h4 bonnes r&eacute;ponses
                    h3 sur 9 questions

block scripts
    script(src='js/fin.js')
    script(src='js/app.js')

